<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.ijoy.mapper.CommentMapper">
	
	
	<select id="findAll" resultType="Comment">
		select * from comment
	</select>
	
	
	
	
</mapper>